main{
    min-height: 500px;
    background-color: $bk-footer;
    color: white;
}

.deck{
    .card-comics{
        flex-basis: calc(100% / 6);
        height: 350px;
        a{
            text-decoration: none;
            color: white;
        }
        img{
            height: 250px;
            width: 250px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.449);
        &:hover{
        box-shadow: 0 0 5px white;
            cursor: pointer;
        }
        }
        h5:hover{
            text-shadow: 0 0 5px red;
        }
    }
}
// Controllo bottone 'aggiungi fumetto'

.btn-add{
    border: 1px solid white;
    padding: 10px 15px;
    letter-spacing: 5px;
    &:hover{
    box-shadow: 0 0 5px red;
    text-shadow: 0 0 5px red;
    }
}